.header {
  height: 20vh;

  svg {
    max-height: 100%;
    width: 100px;
    height: 100px;
  }

  .logo {
    margin: 20px;
    width: 100px;
    height: 100px;
  }

  @media only screen and (min-width: 730px) {
    .logo {
      position: fixed;
    }
  }
}